div.dobdev_youtube_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
div.dobdev_youtube_container iframe,
div.dobdev_youtube_container object,
div.dobdev_youtube_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
code.dobdev_code_inline {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre.dobdev_code_block {
  background: none repeat scroll 0% 0% #111;
  color: #EEE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 8px;
}